<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href={% url 'add_data' %}>데이터 추가 페이지로 이동</a>
    
    <table border='1'>
        <th>id</th> <th>title</th> <th>content</th> <th>post.published_date</th>
        {% for post in posts %}
            <tr>
                <td> {{ forloop.counter0 }} </td>
                <td> {{ post.title }}  </td>
                <td> {{ post.content }} </td>    
                <td> {{ post.published_date|date:"Y-m-d h:m:s" }} </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>