{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
    <title>Document</title>
</head>
<body>
    {% block content %}
    
    <h1> 회원가입 </h1>
    
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}

        <button type="submit">회원가입</button>
    </form>

    {% endblock %}
</body>
</html>